.slider-container {
  position: relative;
  width: 100%;
  max-width: 700px;
  margin: auto;
  overflow: hidden;
}

.slide {
  display: none;
}

.slide img {
  width: 100%;
  height: auto;
}

.slider-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: white;
  font-size: 20px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}